@import "vars";

.starter-template {
  margin-top: 5em;
  margin-bottom: 4em;
}

.sublead {
  color: darkcyan;
}

#currentResults {
  margin-left: 1em;
}

#ver {
  position: fixed;
  color: cadetblue;
  font-size: 10px;
  right: 2px;
  bottom: 2px;
}

#vertop {
  opacity: 0.25;
}